<script type="text/javascript">

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    
    var layout_label_list = [];
    var page_title_list = [];
    var layout_html_list = [];
	function load_layout_data(json) {
	    var layout_data_list = json.feed.entry;
	    
		$.each(layout_data_list, function ( index, layout_data ) {
			var cell = layout_data["gs$cell"];
			var cell_contents = cell["$t"];
							
			if (cell.row == 1) {
				layout_label_list.push(cell_contents);
			}		
			if (cell.row == 2) {
				page_title_list.push(cell_contents);
			}
			if (cell.row == 3) {
				layout_html_list.push(cell_contents);
			}
		});
	}
	
	var obj_class_list = [];
	var content_html_list = [];		
	function load_content_data(json) {
		var content_data_list = json.feed.entry;
		
		$.each(content_data_list, function ( index, content_data ) {
			var cell = content_data["gs$cell"];
			var cell_contents = cell["$t"];
							
			if (cell.row == 1) {
				obj_class_list.push(cell_contents);
			}
			if (cell.row == 2) {
				content_html_list.push(cell_contents);
			}		
		});
	}
	
	var page_label = null
	function write_layout() {
	    var parent = $(".google-sheet-layout");
	    page_label = getUrlParameter('page');
	    if (page_label == null) {
            page_label = "{{ page.googlesheetlayout }}";
	    }
	    var page_html = null
	    $.each(layout_label_list, function ( index, layout_label ) {
			if (layout_label == page_label) {
			    page_html = layout_html_list[index];
				return false;
			}
		});
		if (page_html == null) {
            page_label = "404";
            $.each(layout_label_list, function ( index, layout_label ) {
			    if (layout_label == page_label) {
			        page_html = layout_html_list[index];
				    return false;
			    }
		    });
	    }
	    parent.html(page_html);
	}
	
	function write_content() {
	    	$.each(obj_class_list, function ( index, obj_class ) {
			var parent = $("." + obj_class);
			if (parent.length > 0) {
				parent.html(content_html_list[index]);
			}
		});
	}
	
	function return_page_title() {
	    var page_title = null;
        $.each(layout_label_list, function ( index, layout_label ) {
	        if (layout_label == page_label) {
	            page_title = page_title_list[index];
		        return false;
	        }
        });
        
        return page_title;
	}
	
	$(document).ready(function(){
	    write_layout();
	    write_content();
	    $('video,audio').mediaelementplayer();
		
		$('a[href*="page="].dropdown-link') 
		    .click(function(event) {
		        if (    matchMedia(Foundation.media_queries.small).matches && 
		                matchMedia(Foundation.media_queries.medium).matches &&
                        matchMedia(Foundation.media_queries.large).matches) {
                    event.preventDefault();
                    url = $(this).attr("href");
                    page_label = url.split("page=")[1].split("&")[0];
                    History.pushState(null, return_page_title(), url);
		        }      
        });
		
		$('a[href*="page="]').not(".dropdown-link")
		    .click(function(event) {
                event.preventDefault();
                url = $(this).attr("href");
                page_label = url.split("page=")[1].split("&")[0];
                History.pushState(null, return_page_title(), url);
                 
        });
        
        History.Adapter.bind(window,'statechange',function(){
            if ( $(".top-bar").hasClass( "expanded" ) ) {
                Foundation.libs.topbar.toggle();
            }
            $(".hover").removeClass("hover");
            Foundation.libs.dropdown.closeall();
            
            write_layout();
            write_content();
            $('video,audio').mediaelementplayer();
		    $('.google-sheet-layout a[href*="page="]').click(function(event) {
		        event.preventDefault();
                url = $(this).attr("href");
                page_label = url.split("page=")[1].split("&")[0];
                History.pushState(null, return_page_title(), url);
		    });
		    
		    window.scrollTo(0,0);
		});

	});
	
	

</script>
<script src="http://browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
<script src="https://spreadsheets.google.com/feeds/cells/{{ site.google_sheet_id }}/{{ site.google_sheet_layout_page_number }}/public/values?alt=json-in-script&callback=load_layout_data"></script>
<script src="https://spreadsheets.google.com/feeds/cells/{{ site.google_sheet_id }}/{{ site.google_sheet_contents_page_number }}/public/values?alt=json-in-script&callback=load_content_data"></script>


