<link rel="stylesheet" href="{{ url }}/assets/responsive_tables/responsive-tables.css">
<script src="{{ url }}/assets/showdown/showdown.min.js"></script>

<script language="javascript" type="text/javascript">
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>

<script type="text/javascript">

    var converter = new showdown.Converter();

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    
    var layout_label_list = [];
    var page_title_dict = {};
    var layout_html_dict = {};
	function load_layout_data(json) {
	    layout_label_list = [];
	    layout_html_dict = {};
	    page_title_dict = {};
	    
	    var layout_data_list = json.feed.entry;
	    
	    var page_title_list = [];
        var layout_html_list = [];
	    
		$.each(layout_data_list, function ( index, layout_data ) {
			var cell = layout_data["gs$cell"];
			var cell_contents = cell["$t"];
							
			if (cell.row == 1) {
				layout_label_list.push(cell_contents);
			}		
			if (cell.row == 2) {
				page_title_list.push(cell_contents);
			}
			if (cell.row == 3) {
				layout_html_list.push(cell_contents);
			}
		});
		
		$.each(layout_label_list, function ( index, layout_label ) {
			page_title_dict[layout_label] = page_title_list[index];
			layout_html_dict[layout_label] = layout_html_list[index];
		});
	}
	
	var obj_class_list = [];
	var content_html_dict = {};		
	function load_content_data(json) {
	    obj_class_list = [];
	    content_html_dict = {};	
	    
		var content_data_list = json.feed.entry;
		var content_html_list = [];
		
		$.each(content_data_list, function ( index, content_data ) {
			var cell = content_data["gs$cell"];
			var cell_contents = cell["$t"];
							
			if (cell.row == 1) {
				obj_class_list.push(cell_contents);
			}
			if (cell.row == 2) {
				content_html_list.push(converter.makeHtml(cell_contents));
			}		
		});
		
		$.each(obj_class_list, function ( index, obj_class ) {
			content_html_dict[obj_class] = content_html_list[index];
		});
	}
	
	var page_label = null
	function write_layout() {
	    var parent = $(".google-sheet-layout");
	    page_label = getUrlParameter('page');
	    if (page_label == null) {
            page_label = "{{ page.googlesheetlayout }}";
	    }
	    var page_html = layout_html_dict[page_label]
		if (page_html == undefined) {
            page_label = "404";
            page_html = layout_html_dict["404"]
	    }
	    parent.html(page_html);
	}
	
	function write_content() {
	    	$.each(obj_class_list, function ( index, obj_class ) {
			var parent = $("." + obj_class);
			if (parent.length > 0) {
				parent.html(content_html_dict[obj_class]);
			}
		});
	}
	
	function return_page_title() { 
        return page_title_dict[page_label];
	}
	
	function load_tablesort() {
        $.ajax({
              url: "{{ url }}/assets/stupidtable/stupidtable.js",
              dataType: "script",
              cache: true
            }).done(function() {
	            $("table").stupidtable();
        });
	}
	
	function load_mediaelements() {
        $.ajax({
            url: "{{ url }}/assets/mediaelement_js/mediaelement-and-player.min.js",
            dataType: "script",
            cache: true
        }).done(function() {
		    $('video,audio').mediaelementplayer();
        }); 
	}
	
	function load_tinymce_editor() {
        $.ajax({
            url: "{{ url }}/assets/tinymce/tinymce.min.js",
            dataType: "script",
            cache: true
        }).done(function() {
            $('textarea.page_editor').html($('familiesandprograms-kidschurch').html());
            tinymce.init({
                script_url: '{{ url }}/assets/tinymce/tinymce.min.js'
                selector: 'textarea.page_editor',
                height: 500,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table contextmenu paste code'
                ],
                toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'
            });
            $('textarea.page_editor').keyup(function() {
                $('.familiesandprograms-kidschurch').html($('textarea.page_editor').html());
            });
        });	
	}
	
	function time_difference(then, now) {
	    var diffMs = (now - then);
	    var diffDays = Math.floor(diffMs / 86400000);
        var diffHrs = Math.floor(diffMs / 3600000);
        var diffMins = Math.floor(diffMs / 60000);
        var diffSeconds = Math.floor(diffMs / 1000);
        
        var return_string = "Last edited "
        
        if (diffDays > 0) {
            return_string += diffDays.toString() + " day"
            if (diffDays > 1) {return_string += "s"}
        }        
	    else if (diffHrs > 0) {
	        return_string += diffHrs.toString() + " hour"
            if (diffHrs > 1) {return_string += "s"}
        }
        else if (diffMins > 0) {
	        return_string += diffMins.toString() + " minute"
            if (diffMins > 1) {return_string += "s"}
        }
        else if (diffSeconds > 0) {
	        return_string += diffSeconds.toString() + " second"
            if (diffSeconds > 1) {return_string += "s"}
        }
        else {
	        return_string += diffMs.toString() + " millisecond"
            if (diffMs > 1) {return_string += "s"}
        }
        
        return_string += " ago."        
        return return_string
	}
	
	var edit_timestamp = null;
	var now = null;
	var wait_till_update = 1000;
	function load_edit_timestamp(json) {
		edit_timestamp = new Date(parseInt(json.feed.entry[0]["gs$cell"]["$t"]));		
		$(".last_edit_footer").html(time_difference(edit_timestamp, now));
		
		if (now - edit_timestamp < 2*wait_till_update) {
		    check_for_content_or_layout_change();
		}
		if (now - edit_timestamp < 60 * 1000) {
		    wait_till_update = 1000;
		}
		else if (now - edit_timestamp < 5 * 60 * 1000) {
		    wait_till_update = 10 * 1000;
		}
		else if (now - edit_timestamp < 60 * 60 * 1000) {
		    wait_till_update = 60 * 1000;
		}
		else {
		    wait_till_update = 5 * 60 * 1000;
		}
		
		setTimeout(pull_edit_timestamp, wait_till_update);
	}
	
	function pull_edit_timestamp() {
	    now = new Date();
	    $.ajax({
              url: "https://spreadsheets.google.com/feeds/cells/{{ site.google_sheet_id }}/{{ site.google_sheet_timestamp_page_number }}/public/values?alt=json-in-script&callback=load_edit_timestamp",
              dataType: "script",
              cache: false
        });
    }
    
    var old_layout_label_list = [];
    var old_page_title_dict = {};
    var old_layout_html_dict = {};
    var old_obj_class_list = [];
	var old_content_html_dict = {};	
    function check_for_content_or_layout_change() {
        old_layout_label_list = layout_label_list;
        old_page_title_dict = page_title_dict;
        old_layout_html_dict = layout_html_dict;
        old_obj_class_list = obj_class_list;
        old_content_html_dict = content_html_dict;
        
    	$.ajax({
            url: "https://spreadsheets.google.com/feeds/cells/{{ site.google_sheet_id }}/{{ site.google_sheet_layout_page_number }}/public/values?alt=json-in-script&callback=load_layout_data",
            dataType: "script",
            cache: false
        }).done(function() {
		    $.ajax({
                url: "https://spreadsheets.google.com/feeds/cells/{{ site.google_sheet_id }}/{{ site.google_sheet_contents_page_number }}/public/values?alt=json-in-script&callback=load_content_data",
                dataType: "script",
                cache: false
            }).done(function() {
                if ( 
                    (old_layout_label_list != layout_label_list) ||
                    (old_page_title_dict != page_title_dict) ||
                    (old_layout_html_dict != layout_html_dict)
                ) {
                    update_different_google_sheet_layout();
                }
                
                if (
                    (old_obj_class_list != obj_class_list) ||
                    (old_content_html_dict != content_html_dict)
                ) {
                    update_different_google_sheet_content();
                }
            });
        });
    }
    
    function update_different_google_sheet_layout() {
        if (page_title_dict[page_label] != old_page_title_dict[page_label]) {
            document.title = page_title_dict[page_label];
        }
        if (layout_html_dict[page_label] != old_layout_html_dict[page_label]) {
            document.title = page_title_dict[page_label];
            new_googlesheet_page();
        }
    }
    
    function update_different_google_sheet_content() {
            write_only_different_content_and_update();
    }
	
	function create_tablefilter() {
	    $(".tablefilterinput").keyup(function () {
            //split the current value of searchInput
            var data = this.value.toUpperCase().split(" ");
            //create a jquery object of the rows
            var jo = $(".filtertablebody").find("tr");
            if (this.value == "") {
                jo.show();
                return;
            }
            //hide all the rows
            jo.hide();

            //Recusively filter the jquery object to get results.
            jo.filter(function (i, v) {
                var $t = $(this);
                for (var d = 0; d < data.length; ++d) {
                    if ($t.text().toUpperCase().indexOf(data[d]) > -1) {
                        return true;
                    }
                }
                return false;
            })
            //show the rows that match.
            .show();
        }).focus(function () {
            this.value = "";
            $(this).css({
                "color": "black"
            });
            $(this).unbind('focus');
        }).css({
            "color": "#C0C0C0"
        });
	
	}	
	
	function write_only_different_content_and_update() {
	    $.each(obj_class_list, function ( index, obj_class ) {
			var parent = $("." + obj_class);
			if ((parent.length > 0) && (content_html_dict[obj_class] != old_content_html_dict[obj_class])) {
				parent.html(content_html_dict[obj_class]);
				
		        if (parent.find('.accordion').length > 0) {
	                $(document).foundation('accordion');
	            } 
	            if (parent.find('table.responsive').length > 0) {
	                switched=false;
	                update_responsive_tables();
	            }
	            if (parent.find('table').length > 0) {
                    load_tablesort();
                }
                if (parent.find('video,audio').length > 0) {
                    load_mediaelements();
                }
                if (parent.find(".tablefilterinput").length > 0) {
                    create_tablefilter();
                } 
                
                parent.find('a[href*="page="]').not('a[href*="#"]')
		            .click(function(event) {
	                event.preventDefault();
                    var url = $(this).attr("href");
                    page_label = url.split("page=")[1].split("&")[0];
                    History.pushState(null, return_page_title(), url);
	            });
			}
		});
	}
	
	function load_relevant_plugins() {
	    if ($('.accordion').length > 0) {
	        $(document).foundation('accordion');
	    } 
	    if ($('table.responsive').length > 0) {
	        switched=false;
	        update_responsive_tables();
	    }
	    if ($('table').length > 0) {
            load_tablesort();
        }
        if ($('video,audio').length > 0) {
            load_mediaelements();
        }
        if ($(".tablefilterinput").length > 0) {
            create_tablefilter();
        } 
        if ($('textarea.page_editor').length > 0) {
            load_tinymce_editor();
        } 
        
	}
	
	function new_googlesheet_page() {
	    write_layout();
	    write_content();
	    load_relevant_plugins();
	    rebind_only_new_links();
	}
	
	var switched=false;
    function update_responsive_tables() {
        if(($(window).width()<767)&&!switched){
            switched=true;
            $("table.responsive").each(function(i,element){
                splitTable($(element));
            });
        return true;
        }
        else if(switched&&($(window).width()>767)){
            switched=false;
            $("table.responsive").each(function(i,element){
                unsplitTable($(element));
            });
        }
    };   
        
    function splitTable(original) {
        original.wrap("<div class='table-wrapper' />");
        var copy=original.clone();
        copy.find(
            "td:not(:first-child), th:not(:first-child)")
            .css("display","none");
        copy.removeClass("responsive");
        original.closest(".table-wrapper").append(copy);
        copy.wrap("<div class='pinned' />");
        original.wrap("<div class='scrollable' />");
        }
        
    function unsplitTable(original) {
        original.closest(".table-wrapper").find(".pinned").remove();
        original.unwrap();
        original.unwrap();
    }
	
	$(window).bind("resize",update_responsive_tables);
	
	function close_navigation() {
        if ( $(".top-bar").hasClass( "expanded" ) ) {
            Foundation.libs.topbar.toggle();
        }
        $(".hover").removeClass("hover");
        Foundation.libs.dropdown.closeall();  
	}
	
	function initial_rebind_of_links() {
		$('a[href*="page="].dropdown-link')
		    .not('a[href*="#"]')
		    .click(function(event) {
		        if (    matchMedia(Foundation.media_queries.small).matches && 
		                matchMedia(Foundation.media_queries.medium).matches &&
                        matchMedia(Foundation.media_queries.large).matches) {
                    event.preventDefault();
                    var url = $(this).attr("href");
                    page_label = url.split("page=")[1].split("&")[0];
                    History.pushState(null, return_page_title(), url);
		        }      
        });
		$('a[href*="page="]').not(".dropdown-link")
		    .not('a[href*="#"]')
		    .click(function(event) {
                event.preventDefault();
                var url = $(this).attr("href");
                page_label = url.split("page=")[1].split("&")[0];
                History.pushState(null, return_page_title(), url);                 
        });
	}
	
	function rebind_only_new_links() {
		$('.google-sheet-layout a[href*="page="]')
		    .not('a[href*="#"]')
		    .click(function(event) {
	        event.preventDefault();
            var url = $(this).attr("href");
            page_label = url.split("page=")[1].split("&")[0];
            History.pushState(null, return_page_title(), url);
	    });
	}
	
	$(document).ready(function(){
	    initial_rebind_of_links();
	    new_googlesheet_page();	    
	    pull_edit_timestamp();

        History.Adapter.bind(window,'statechange',function(){
            new_googlesheet_page();
            window.scrollTo(0,0);
            close_navigation();            
		});
	});
</script>
<script src="http://browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
<script src="https://spreadsheets.google.com/feeds/cells/{{ site.google_sheet_id }}/{{ site.google_sheet_layout_page_number }}/public/values?alt=json-in-script&callback=load_layout_data"></script>
<script src="https://spreadsheets.google.com/feeds/cells/{{ site.google_sheet_id }}/{{ site.google_sheet_contents_page_number }}/public/values?alt=json-in-script&callback=load_content_data"></script>
